@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Miłosz Winnicki</h3>

<address>
    <string>ID:</string> <a>w57094</a> <br />
    <strong>E-mail:</strong>   <a href="mailto:w57094@student.wsiz.rzeszow.pl">w57094@student.wsiz.rzeszow.pl</a><br />
    <strong>Github:</strong> <a href="https://github.com/mwinnicki1/UITMUniversity" target="_blank">https://github.com/mwinnicki1/UITMUniversity</a>
</address>