@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library Management App</h1>
    <p class="lead">Placeholder</p>
    <p><a href="#" class="btn btn-primary btn-lg">Placeholder &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>
            Placeholder
        </p>
        <p><a class="btn btn-default" href="#">Click &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>
            Placeholder
        </p>
        <p><a class="btn btn-default" href="#">Click &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>
            Placeholder
        </p>
        <p><a class="btn btn-default" href="#">Click &raquo;</a></p>
    </div>
</div>